* {
  box-sizing: border-box;
}

html, body, #app {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #e1e2e1;
}

.header {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #9b27af;
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.softkey {
  height: 30px;
  max-height: 30px;
  width: 100%;
  max-width: 100%;
  background: white;
  border-top: 2px #cbcbcb solid;
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 0 5px;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 26px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

.left,
.right {
  font-weight: 600;
  font-size: 14px;
  color: #242424;
  overflow: hidden;
  width: 100%;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.left {
  text-align: left;
  padding-right: 5px;
}

.center {
  color: #242424;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.right {
  text-align: right;
  padding-left: 5px;
}